<!DOCTYPE html>
<head>
    <meta charset="utf-8">
    <title>OnOff</title>
    <script src="https://unpkg.com/vue"></script>
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <scipt type="text/javascript" src="/app.js"></script>
</head>
<button onclick="showList()">plain javascript test</button>
<div id="app">
    <div id='listView'></div>
    <div v-if="onOff">On</div>
    <div v-else >off</div>
    <button v-on:click="toggleOnOff('onOff')">{{onOff}}</button>
    <div v-if="onOff2">On</div>
    <div v-else>Off</div>
    <button v-on:click="toggleOnOff('onOff2')">{{onOff2}}</button>
</div>


<script>
    function showList(){
        $('#listView').html('one, two, three');
    }
var app = new Vue({
    el:'#app',
    data:{
        onOff:true,
        onOff2: false
    },
    methods: {
        toggleOnOff(toggle){
            this[toggle] = !this[toggle]
        }
    }
});
</script>
