<!DOCTYPE html>
<head>
    <title>Selector</title>
    <script src="https://unpkg.com/vue"></script>
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <scipt type="text/javascript" src="/app.js"></script>
</head>
<body>
    <div id="app">
        <input type="text" v-model="searchWord" placeholder="search employee name"/>
        <div v-for="employee in filteredList">
            <li >{{employee.lastname}}, ({{employee.title}})</li>
            <a v-bind:href="employee.profile" target="_blank">profile</a>
        </div>

        </br>
        Another instance of using the computed method
        <input v-model="message"></input>
        {{reversedMessage}}
    </div>
</body>

<script>

class employee{
    constructor(id, title, firstname, lastname,profile){
        this.id=id;
        this.title=title;
        this.firstname=firstname;
        this.lastname=lastname;
        this.profile=profile;
    }
}


    var app = new Vue({
        el:'#app',
        data:{
            searchWord:'',
            message: 'cow',
            employeeList:[new employee(1, 'pilot', 'Amelia','Earheart','http://ameliaearhart.com/'),
                        new employee(2, 'co-piolet', 'Manfred von', 'Richthofen', 'http://www.history.com/news/ace-of-aces-how-the-red-baron-became-wwis-most-legendary-fighter-pilot'),
                        new employee(2, 'Stewardess', 'Jemaine','Clement', 'http://www.imdb.com/name/nm1318596/')
                        ]
        },
        computed:{
            filteredList(){
                return this.employeeList.filter((emp)=>{
                    return emp.lastname.toLowerCase().includes(this.searchWord.toLowerCase());
                })
            },
            reversedMessage: function () {
                return this.message.split('').reverse().join('');
            }
        }
    });
</script>

<style>
</style>

