<!DOCTYPE html>
<head>
    <title>Selector</title>
    <script src="https://unpkg.com/vue"></script>
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <scipt type="text/javascript" src="/app.js"></script>
</head>
<body>
    <div id="app">
        <div>{{searchWord}}</div>
        <input type="text" v-model="searchWord" placeholder="search employee name"/>
        <div v-for="employee in employeeList">
            <li >{{employee.lastname}}, ({{employee.title}})</li>
            <a v-bind:href="employee.profile" target="_blank">profile</a>
        </div>
    </div>
</body>

<script>

class employee{
    constructor(id, title, firstname, lastname,profile){
        this.id=id;
        this.title=title;
        this.firstname=firstname;
        this.lastname=lastname;
        this.profile=profile;
    }
}


    var app = new Vue({
        el:'#app',
        data:{
            searchWord:'',
            employeeList:[new employee(1, 'pilot', 'Amelia','Earheart','http://ameliaearhart.com/'),
                        new employee(2, 'co-piolet', 'Manfred von', 'Richthofen', 'http://www.history.com/news/ace-of-aces-how-the-red-baron-became-wwis-most-legendary-fighter-pilot'),
                        new employee(2, 'Stewardess', 'Jemaine','Clement', 'http://www.imdb.com/name/nm1318596/')
                        ]
        },
        computed:{
            filteredList: function(){
                return this
                // return this.employeeList.filter((employee)=>{
                //     return employee.firstname.toLowerCase().includes(this.searchWord.tolowerCase())
               // })
            }
        }
    });
</script>

<style>
</style>

